<nav class="navbar">
  <div class="logo">
      Notepad
  </div>
  <div class="icon-holder" id="icon-holder-id" (click) = "showNavbarOptions()">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <ul class="list-holder-navbar" id="list-holder-id" [ngClass]="{'showNavbarOption': !options, 'hideNavbarOption': !options}">
          <li class="list"><a href="#">Add checkboxes</a></li>
          <li class="list"><a href="#">Change Theme</a></li>
          <li class="list"><a href="#">App Password</a></li>
          <li class="list"><a href="#">About</a></li>
      </ul>
  </div>
</nav>

<div class="conatiner">
  <h3 class="text-center my-1">Your Todos</h3>

  <div *ngIf="this.todos.length === 0; else elseBlock">
    <p class="text-center">No Todos to show.</p>
  </div>
  <ng-template #elseBlock>
    <div class=" d-flex flex-wrap justify-content-center" style="margin: auto; width: 99vw;">
      <div class="my-2" *ngFor="let todo of todos">
        <!-- Sending each todo in this.todos to todo-item.component -->
        <app-todo-item [todo]="todo" (todoDelete)="deleteTodo(todo)" (todoCheck)="checkTodo(todo)" (todoOptions)="showOptions(todo)"></app-todo-item>
      </div>
    </div>
  </ng-template>


  <button class="btn-sm btn-primary my-2" style="margin: auto; display: block;">
    <a
style="color: white; text-decoration: none;" routerLink="/newTodo">Add note</a></button>
</div>
